header {
    background-image: var(--bg-img-banner-desktop) ;
    background-color: var(--bg-color-header);
    height: 800px;
    width: 100%;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:contain;
}
.top {
    display: flex;
    font-family: var(--bs-font-sans-serif);
}
nav li {
    list-style: none;
}
.top h3 {
    color: var(--color-white);
    font-size: 30px;
}

nav li a {
    text-decoration: none;
    text-transform: capitalize;
    color:var(--color-white);
}
.presentation {
    text-align: center;
    font-family: var(--bs-font-monospace);
}
h2 {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 60px;
}
.egg-text h3, .glass-text h3 {
    font-size: 50px;
    font-family: var(--bs-font-monospace);
    font-weight: bold;
}
.egg-text p, .glass-text p {
    font-size: 30px;
    font-family: var(--bs-font-sans-serif);
}
.egg-text a, .glass-text a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-black);
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
}
.egg-text a {
    text-decoration-color: var(--underline-color-yellow);
} 
.glass-text a {
    text-decoration-color: var(--underline-color-pink);
}


.egg {
    background-image: var(--img-egg); 
}
.glass {
    background-image: var(--img-glass);
}
.egg, .glass {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.egg-section, .glass-section {
    display: flex;
    background-color: var(--bg-color-sections);
}
.egg-text, .glass-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    }
.cherry, .orange {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cherry {
    background-image: var(--img-cherry);
}
.orange {
    background-image: var(--img-orange);
}
.cherry div, .orange div {
    text-align: center;
    width: 70%;
    margin: 0 0 80px 0;
    opacity: 50%;
}
.cherry h3, .orange h3 {
    font-family: var(--bs-font-monospace);
    font-size: 50px;
    font-weight: bold;
}
.cherry p, .orange p {
    margin: 40px 0 0 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 30px;
    font-weight: bold;
}
.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-sections)
}
.testimonials h3:nth-child(1) {
    color: var(--color-gray);
    font-family: var(--bs-font-monospace);
    text-transform: uppercase;
    font-size: 30px;
}
.testimonials h3:not(:nth-child(1)) {
    color: var(--color-black);
    font-family: var(--bs-font-monospace);
    text-transform: uppercase;
    font-size: 30px;
}
.testimonials h4 {
    color: var(--color-light-gray);
    margin: 10px 0 0 0;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.card p {
    margin: 30px 0;
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    line-height: 1.5;
    font-size: 20px;
    color:var(--color-gray);
}
.imgs-bottom {
    display: flex;
    width: 100%;
    height: 500px;
}
.imgs-bottom div:nth-child(1) {
    background-image: var(--img-bottom-1);
}
.imgs-bottom div:nth-child(2) {
    background-image: var(--img-bottom-2);
}
.imgs-bottom div:nth-child(3) {
    background-image: var(--img-bottom-3);
}
.imgs-bottom div:nth-child(4) {
    background-image: var(--img-bottom-4);
}
.imgs-bottom div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;    
    color: var(--color-green-footer);
    background-color: var(--bg-color-footer);    
}
footer h3 {
    font-size: 30px;
    font-family: var(--bs-font-sans-serif);
    margin: 0 0 30px 0 ;
}
footer a {
    text-decoration: none;
    font-family: var(--bs-font-sans-serif);
    text-transform: capitalize;
    font-size: 25px;
    color: var(--color-green-footer);
}
footer div:nth-child(3) {
    margin: 60px 0 0 0;    
}
footer svg:nth-child(1), footer svg:nth-child(2), footer svg:nth-child(3) {
    margin: 0 20px 0 0;
}