@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap [fonts.googleapis.com]'); 
* {
    margin:0;
    padding: 0;
}
:root {
    --bg-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,248,194,1) 0%, rgba(255,237,215,1) 100%);
    --bg-color-card: #FFFEFA;
    --bg-color-point: #FFE6E6;
    --bg-color-button-left: #333333;
    --bg-color-button-right: #809FFF;
    --shadow: 0 0 20px 20px #d0d0d0; 
    --point-size: 10px;
    --font-h1: 'Bebas Neue', cursive; 
    --font-p: 'EB Garamond', serif;
    --font-button: 'Farsan', cursive;
    --color-h1: #344055;
    --color-p:#7D7D7D;
    --color-button: #ffffff;
    --border-button-left: 8px 0px 0px 8px;  
    --border-button-right: 0px 8px 8px 0px; 
}
.container {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.card__container {
    background-color: var(--bg-color-card);
    box-shadow: var(--shadow);
    display: flex;
    width: 900px;
    height: 400px;
    border-radius: 5px;
}
.card__left {
    width: 500px;
    padding: 20px 70px 15px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card__left > div:first-child{ 
    display: flex;
    justify-content: center;
}
.card__point {
    background-color: var(--bg-color-point);
    width: var(--point-size);
    height: var(--point-size);
    border-radius: 50px;
}
img {
    height: 400px;
    width: 400px;
}
h1 {
    font-family: var(--font-h1);
    color: var(--color-h1);
    margin: 10px 0 0 0;
}
p { 
    font-family: var(--font-p);
    color: var(--color-p);
    font-size: large;
    line-height: 1.8;
    text-align: center;
    margin: 40px 0 0 0;
}
.card__button  button{
    font-family: var(--font-button);
    border: none;
    font-size: x-large;
    color: var(--color-button);
    padding: 10px 15px;
    margin: 50px 0 0 50px
}
.card__button button:nth-child(1){
    border-radius: var(--border-button-left) ;
    background-color: var(--bg-color-button-left);
}
.card__button button:nth-child(2){
    border-radius: var(--border-button-right);
    background-color: var(--bg-color-button-right);
    margin-left: -5px;
}
span {
    text-transform: capitalize;
}
