@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap [fonts.googleapis.com]'); 
* {
    margin: 0;
    padding: 0;
}
body {
    background: #f2f2f2; 
    
    font-family: 'Merriweather', serif; 
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 20px 8px #d0d0d0; 
    border-radius: 15px;
}
.card__container {
    padding: 40px;
}
.card__title {
    margin: 70px 0 20px 0;
    text-align: center;
}
.card__body {
    text-align:justify;
}
p::first-letter { 
    text-transform: capitalize; 
}
