
header {
    height: 500px;
}
i {
    color: var(--color-white);
    margin: 10px 0 0 50px;
}
/******************burguer menu************/ 
input[type=checkbox] {
    display:none;
}
nav {
    display: none;
}
.burguer {
    cursor: pointer;
}
#aside-menu:checked ~ nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    position: absolute;
}
#aside-menu:checked ~ nav li:hover {
    background-color:var(--color-gray);
}
.top {
    width: 100%;
    justify-content: space-around;
    align-items:flex-start;
    user-select: none;
    position: absolute;
}

/*********************************/
.presentation {
    padding: 100px 0 0 0 ;
}
/*********egg section********/
.egg-section {
    flex-direction: column-reverse;
    justify-content: center; 
    align-items: center;  
}
.egg-text h3, .glass-text h3 { 
    text-align: center;
}
.egg-text p, .glass-text p {        
    text-align: center;
    margin: 50px 50px; 
}
.egg-text a, .glass-text a {
    text-align: center;
}
.egg, .glass {
    height: 80vh;
    width: 100%;
}
.egg-text, .glass-text {
    height: 500px;
    align-content: center;    
}
/******glass section******/
.glass-section {
    flex-direction: column;
    justify-content: center; 
}

/******fuits******/
.cherry, .orange {
    height: 80vh;
    width: 100%;
}

/*********testimonials************/   
.cards {
    flex-direction: column; 
}
.card {
    margin: 80px 0 50px 0; 
    width: 80%; 
}



/*******4 imgs************/
.imgs-bottom {
    flex-wrap: wrap;
}
.imgs-bottom div:nth-child(1) {
    width: 50%;
    height: 50%;
}
.imgs-bottom div:nth-child(2) {
    width: 50%;
    height: 50%;
}
.imgs-bottom div:nth-child(3) {
    width: 50%;
    height: 50%;
}
.imgs-bottom div:nth-child(4) {
    width: 50%; 
    height: 50%;
}
/*****footer*****/
footer a:nth-child(2) {
    margin: 0 50px 0 50px;
    
}


